.container{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid blue;
  border-radius: 18px 18px 0px 0px;
  padding-bottom: 12px;
  gap: 12px;
}

.container .header-login{
  background-color: blue;
  height: fit-content;
  padding: 0;
  width: 100%;
  text-align: center;
  color: white;
  border-radius: 16px 16px 0px 0px;
}

.header-login h1{
  padding: 0;
}

.formulario{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  gap: 10px;
}

.container-input{
  display: flex;
  flex-direction: column;
  width: 80%;
}
.container-input label{
  font-size: 1.2rem;
}

.container-input input{
  width: 100%;
  height: 2rem;
  border-radius: 8px;
  border: 2px solid rgba(128, 128, 128, 0.60);
  padding: 4px 6px;
  font-size: 1.1rem;
}

.btn-entrar{
  background-color: blue;
  color: white;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 1rem;
  border: none;
}

.btn-entrar:hover{
  background-color: rgb(0, 0, 184);
}